{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.user.username }}{% endblock %}

{% block body %}

{% include 'includes/homeHeader.html.twig' %}
<div class="row">
    <div class="col-9">
        <div class="row p-3">
            <!-- Loop the next div -->
            {% for game in games %}
            <div class="col-4 mt-5 player-card d-flex align-items-center justify-content-center">
                <div class="shadow p-2 player-card-inborder">
                    <a href="{{ path('game',{'id': game.id})}}" class="color-href">
                        <div class="w-100 player-card-image ">
                            <img class="w-100 h-100" src="https://www.entreprises.gouv.fr/files/files/secteurs-d-activite/numerique/politique-numerique/join-the-game/france-jeu-videoh.png">
                        </div>
                    </a>
                    <div class="row p-0 m-0">
                        <div class="row p-0 m-0">
                            <div class="col-12">
                                <i class="fas fa-gamepad"></i> {{ game.game_title }}
                            </div>
                            {% if game.release_date|default %}
                                <div class="col-12">
                                    <i class="fas fa-calendar"></i> {{ game.release_date}}
                                </div>
                            {% endif %}
                            <div class="col-12">
                                {% if game.youtube|default %}
                                    {% if game.youtube starts with 'http' %}
                                        <a href={{game.youtube}} class="color-href" target="_blank">
                                            <i class="fab fa-youtube"></i> Bande annonce <i class="fas fa-sign-out-alt"></i>
                                        </a>
                                    {% else %}
                                        <a href={{ 'https://www.youtube.com/watch?v=' ~ game.youtube }} class="color-href" target="_blank">
                                            <i class="fab fa-youtube"></i> Bande annonce <i class="fas fa-sign-out-alt"></i>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="col-12 justify-content-center input-group form-group my-auto">
                                <a href="{{ path('game',{'id': game.id})}}" class="color-href">
                                    <div class="input-group-prepend">
                                        <input type="submit" value="Trouver des joueurs" class="btn float-right interest_btn">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
    {% include 'includes/homeSideBar.html.twig' %}
</div>

{% endblock %}

{% block script %}
<script src="{{ asset("js/games.js") }}" defer></script>
{% endblock %}