<div class="row header">
     <div class="col-md-4 my-auto">
         <div class="input-group">
            {{ form_start(form) }}
                <div class="input-group form-group my-auto">
                    {{form_widget(form.name, {'attr':{'class':'form-control rounded', 'placeholder':'Rechercher un jeu','aria-label':'Search','aria-describedby':'search-addon'}})}}
                    <div class="input-group-prepend">
                        <input type="submit" value="Search" class="btn float-right login_btn">
                    </div>
                </div>
            {{ form_end(form) }}
         </div>
     </div>
    <div class="col-md-4 mx-auto d-flex justify-content-center">
        <h2 class="font-weight-bold">Bienvenue {{app.user.username}} !</h2>
    </div>
     <div class="col-md-3 offset-1 pr-4  d-flex justify-content-end my-auto">
        <a href="{{ path('profile',{'id': app.user.id})}}" class="color-href">
            <i class="fas fa-2x fa-user px-3"></i>
        </a>
        {% if app.user %}
            <a href="{{ path('app_logout') }}" class="color-href"><i class="fas fa-2x fa-power-off"></i></a>
        {% endif %}
     </div>
</div>